<meta charset="UTF-8">
<title>{{ site.name }}</title>
<meta name="viewport" content="width=device-width">
<meta name="author" content="{{ site.author }}">
<link rel="stylesheet" href="css/main.css">
<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:500,600' rel='stylesheet' type='text/css'>
<link href='https://c.s-microsoft.com/mscc/statics/mscc-0.4.1.min.css' rel='stylesheet' type='text/css'>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/github-markdown.css">

<script src="js/jquery-2.1.1.min.js"></script>
<script src="https://c.s-microsoft.com/mscc/statics/mscc-0.4.1.min.js"></script>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script type="text/javascript">
  function loadJS(url, implementationCode, location){
    var scriptTag = document.createElement('script');
    scriptTag.src = url;

    scriptTag.onload = implementationCode;
    scriptTag.onreadystatechange = implementationCode;

    location.appendChild(scriptTag);
  }

  function initAWA() {
    var config = {
      useDefaultContentName: true,
      useBeacon: true,
      useShortNameForContentBlob: true,
      debounceMs: {
          scroll: 300,
          resize: 3000
      },
      autoCapture: {
          pageView: true,
          scroll: true,
          lineage: true
      },
      coreData: {
          appId: "AKSWorkshop"
      }
    };
    awa.init(config);
  }

  function addTelemetryTag() {
    var appInsights=window.appInsights||function(a){
    function b(a){c[a]=function(){var b=arguments;c.queue.push(function(){c[a].apply(c,b)})}}var c={config:a},d=document,e=window;setTimeout(function(){var b=d.createElement("script");b.src=a.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js",d.getElementsByTagName("script")[0].parentNode.appendChild(b)});try{c.cookie=d.cookie}catch(a){}c.queue=[];for(var f=["Event","Exception","Metric","PageView","Trace","Dependency"];f.length;)b("track"+f.pop());if(b("setAuthenticatedUserContext"),b("clearAuthenticatedUserContext"),b("startTrackEvent"),b("stopTrackEvent"),b("startTrackPage"),b("stopTrackPage"),b("flush"),!a.disableExceptionTracking){f="onerror",b("_"+f);var g=e[f];e[f]=function(a,b,d,e,h){var i=g&&g(a,b,d,e,h);return!0!==i&&c["_"+f](a,b,d,e,h),i}}return c
    }({
        instrumentationKey:"0e90ab6f-79ee-466b-a1e7-fe469a0767da"
    });
    window.appInsights=appInsights,appInsights.queue&&0===appInsights.queue.length&&appInsights.trackPageView();

    loadJS("https://az725175.vo.msecnd.net/scripts/jsll-4.js",initAWA,document.head);
  }

  // mscc will only exist if written by the server
  if (typeof(mscc) === 'undefined' || mscc.hasConsent()) {
    addTelemetryTag();
  } else {
    mscc.on('consent', addTelemetryTag);
  }

  
  $(document).ready(function(){
    $('a').each(function(i, oldHref){
      if(oldHref.href.includes("docs.microsoft.com") || oldHref.href.includes("azure.microsoft.com")) {
        if(oldHref.href.includes("?"))
          $(this).attr('href',oldHref + "&wt.mc_id={{ site.tracking }}");
        else
          $(this).attr('href',oldHref + "?wt.mc_id={{ site.tracking }}");
      }
    });
  });

  </script>
