header{
    background:{
        size: 150%;
        repeat: repeat;
        image: url(../img/bg.jpg);
        position-x: center;
        position-y: center;
    }
    height: 150px;
    text-align: center;
    position: relative;
    max-width: 100%;

    span{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        color: $white;
        text-transform: uppercase;
        font-weight: bold;
    }
}
